<!-- Featueres section -->

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
            <img src="{{ .Site.BaseURL }}/images/F1.png" alt="Feature Logo 1" width="200" height="200">
            <h2 class="h2">Craft Stories Faster <small class="d-none">🛡️</small></h2>
            <p>Get personalized help on plot and character development from the built-in AI assistant, catered to your desired genre.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ .Site.BaseURL }}/images/F2.png" alt="Feature Logo 1" width="200" height="200">
        <h2 class="h2">Organize Writing Projects<small class="d-none">🛡️</small></h2>
        <p>Track your writing milestone, manage your drafts and organize your novel-related research, all in one place.</p>
    </div>
    <div class="col-lg-4">
        <img src="{{ .Site.BaseURL }}/images/F3.png" alt="Feature Logo 1" width="200" height="200">
        <h2 class="h2">Engage Your Readers <small class="d-none">🛡️</small></h2>
        <p>Analyze reader reactions and engagement metrics across all your publishing platforms, in real time.</p>
    </div>
</div>

<div class="row justify-content-center text-center mt-lg-3">
    <div class="col-lg-4">
        <h2 class="h2">Visualize Your Plot <small class="d-none">🦉</small></h2>
        <p> Easily map events and locations in your novel with interactive timeline and spatial diagrams for narrative cohesion and better pacing. </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Advanced Editing <small class="d-none">✨</small></h2>
        <p>Receive real-time grammar and punctuation checks as well as genre-based syntax and word choice suggestions from our specialized AI editor.
        </p>
    </div>
    <div class="col-lg-4">
        <h2 class="h2">Pitch Your Work <small class="d-none">🧰</small></h2>
        <p>Build pages with a landing page, blog, or documentation layout. Add custom sections and components to suit your needs.</p>
    </div>
</div>
